.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 20px;
        .project-link {
            @include body-text;
        }
        .details {

            line-height: 0;
            @include body-text;
        }
        .project-title{
            text-decoration: none;
            font-weight: bold;
            @include body-text;
            color: var(--fg-color);
        }
    }
    p{
        color: var(--fg-color-body);
        font-size: 12px;
    }
}