.publications {
    .title {
        @include header;
    }
    .publication-items {
        .publication-item {
            margin-bottom: 20px;
            .publication-title {
                a {
                    text-decoration: none;
                    font-weight: bold;
                    @include body-text;
                    color: var(--fg-color);
                }
                a:hover {
                    text-decoration: underline;
                }
                p {
                    text-decoration: none;
                    font-weight: bold;
                    @include body-text;
                }
            }
            .authors {
                @include body-text;
                font-style: italic;
            }
            .conference {
                @include body-text;
            }
        }
    }
}